{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<!-- Food Menu -->
<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <h3 class="text-xl font-bold dark:text-white text-center my-8">Food Menu</h3>
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                <div class="w-full md:w-1/2">
                    <form>   
                        <label for="menu-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input type="search" id="menu-search" class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Food Menu ..." required>
                        </div>
                    </form>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table id="menuTable" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-4">ID</th>
                            <th scope="col" class="px-4 py-3">Menu</th>
                            <th scope="col" class="px-4 py-3">Price</th>
                            <th scope="col" class="px-4 py-3">Type</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Main Course</th>
                            <th scope="col" class="px-4 py-3">Beverage</th>
                            <th scope="col" class="px-4 py-3">Image</th>
                            <th scope="col" class="px-4 py-3">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for menu in menus %}
                        {% if menu.visibility == 'public' %}
                            <tr class="border-b dark:border-gray-700">
                                <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{
                                loop.index }}</th>
                                <td class="px-4 py-3">{{ menu.name }}</td>
                                <td class="px-4 py-3">{{ menu.price }}</td>
                                <td class="px-4 py-3">{{ menu.type }}</td>
                                <td class="px-4 py-3 truncate">{{ menu.desc }}</td>
                                <td class="px-4 py-3">{{ menu.main_course.name }}</td>
                                <td class="px-4 py-3">{{ menu.beverage.name }}</td>
                                <td class="px-4 py-3">
                                    <img class="w-20 h-20" src="{{ menu.image_file }}" alt="{{ menu.name }} image">
                                </td>
                            </tr>
                        {% endif %}
                      {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menutable = document.getElementById("menuTable");
        const menurows = menutable.getElementsByTagName("tr");
        const menuSearch = document.getElementById("menu-search");

        menuSearch.addEventListener("keyup", function () {
            const value = menuSearch.value.toLowerCase();

            for (let i = 1; i < menurows.length; i++) {
                const row = menurows[i];
                let rowContainsValue = false;

                for (let j = 1; j <= 6; j++) {
                    const cellContent = row.cells[j].textContent.toLowerCase();
                    if (cellContent.includes(value)) {
                        rowContainsValue = true;
                        break;
                    }
                }

                if (rowContainsValue) {
                    row.style.display = "";
                } else {
                    row.style.display = "none";
                }
            }
        });
    });
</script>
{% endblock content %}