{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block content %}
<!-- Food Order -->
<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5 antialiased">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
        <h3 class="text-xl font-bold dark:text-white text-center my-8">Food Order</h3>
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
                <div class="w-full md:w-1/2">
                    <form>
                        <label for="order-search"
                            class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative w-full">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                                </svg>
                            </div>
                            <input type="search" id="order-search"
                                class="block w-full p-3 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Search Food Order ..." required>
                        </div>
                    </form>
                </div>
                <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                    <div class="flex items-center space-x-3 w-full md:w-auto">
                        {% for menu in menus %}
                            {% if today_order.MENU_ID == menu.id%}
                            <button data-modal-target="viewOrderModal" data-modal-toggle="viewOrderModal" data-day="{{ today_order.ORDER_DAY }}" data-redemption="{{ today_order.REDEMPTION }}" data-set="{{ menu.SET }}" data-type="{{ menu.TYPE }}" data-desc="{{ menu.DESCRIPTION }}" data-main-course="{{ menu.MAIN_COURSE.NAME }}" data-beverage="{{ menu.BEVERAGE.NAME }}" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 fill-gray-400" viewBox="0 0 448 512">
                                    <path d="M0 80C0 53.5 21.5 32 48 32h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V80zM64 96v64h64V96H64zM0 336c0-26.5 21.5-48 48-48h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V336zm64 16v64h64V352H64zM304 32h96c26.5 0 48 21.5 48 48v96c0 26.5-21.5 48-48 48H304c-26.5 0-48-21.5-48-48V80c0-26.5 21.5-48 48-48zm80 64H320v64h64V96zM256 304c0-8.8 7.2-16 16-16h64c8.8 0 16 7.2 16 16s7.2 16 16 16h32c8.8 0 16-7.2 16-16s7.2-16 16-16s16 7.2 16 16v96c0 8.8-7.2 16-16 16H368c-8.8 0-16-7.2-16-16s-7.2-16-16-16s-16 7.2-16 16v64c0 8.8-7.2 16-16 16H272c-8.8 0-16-7.2-16-16V304zM368 480a16 16 0 1 1 0-32 16 16 0 1 1 0 32zm64 0a16 16 0 1 1 0-32 16 16 0 1 1 0 32z"/>
                                </svg>
                                Display QR Code
                            </button>
                            {% endif %}
                        {% endfor %}
                        <button id="filterOrderDropdownButton" data-dropdown-toggle="filterOrder" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
                            </svg>
                            Filter Date Range
                            <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                            </svg>
                        </button>
                        <div id="filterOrder" class="z-10 hidden w-56 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
                            <h6 class="mb-3 text-sm font-medium text-gray-900 dark:text-white">Order Date Range</h6>
                            <ul class="space-y-2 text-sm" aria-labelledby="filterOrderDropdownButton">
                                <li class="flex items-center">
                                    <input id="currentweek" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="currentweek" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Current Week</label>
                                </li>
                                <li class="flex items-center">
                                    <input id="pastweek" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="pastweek" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Past week</label>
                                </li>
                                <li class="flex items-center">
                                    <input id="2weeks" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="2weeks" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">2 weeks ago</label>
                                </li>
                                <li class="flex items-center">
                                    <input id="1month" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="1month" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">1 month ago</label>
                                </li>
                                <li class="flex items-center">
                                    <input id="90days" type="checkbox" value="" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-primary-600 focus:ring-primary-500 dark:focus:ring-primary-600 dark:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="90days" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">90 days ago</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-x-auto">
                <table id="orderTable" class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-4 py-3">Order Day</th>
                            <th scope="col" class="px-4 py-3">Order Date</th>
                            <th scope="col" class="px-4 py-3">Redemption</th>
                            <th scope="col" class="px-4 py-3">Menu Set</th>
                            <th scope="col" class="px-4 py-3">Type</th>
                            <th scope="col" class="px-4 py-3">Description</th>
                            <th scope="col" class="px-4 py-3">Main Course</th>
                            <th scope="col" class="px-4 py-3">Beverage</th>
                            <th scope="col" class="px-4 py-3">Image</th>
                            <th scope="col" class="px-4 py-3">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr class="border-b dark:border-gray-700">
                            <td class="px-4 py-3">{{ order.ORDER_DAY }}</td>
                            {% for transaction in transactions %}
                                {% if order.TRANSACTION_ID == transaction.id%}
                                <td class="px-4 py-3">{{ transaction.DATE_TIME }}</td>
                                {% endif %}
                            {% endfor %}
                            <td class="px-4 py-3">
                                {% if not order.REDEMPTION%}
                                Not redeemed
                                {%else%}
                                Redeemed
                                {%endif%}
                            </td>
                            {% for menu in menus %}
                            {% if order.MENU_ID == menu.id%}
                            <td class="px-4 py-3">{{ menu.SET }}</td>
                            <td class="px-4 py-3">{{ menu.TYPE }}</td>
                            <td class="px-4 py-3">{{ menu.DESCRIPTION }}</td>
                            <td class="px-4 py-3">{{ menu.MAIN_COURSE.NAME }}</td>
                            <td class="px-4 py-3">{{ menu.BEVERAGE.NAME }}</td>
                            <td class="px-4 py-3">
                                <img class="w-20 h-20" src="{{ url_for('static', filename='menu_pics/' + menu.IMAGE) }}" alt="{{ menu.SET }} image">
                            </td>
                            <td class="px-4 py-3 font-medium">
                                <div class="flex items-center space-x-7">
                                    <button type="button" data-modal-target="viewOrderModal" data-modal-toggle="viewOrderModal" data-day="{{ order.ORDER_DAY }}" data-redemption="{{ order.REDEMPTION }}" data-set="{{ menu.SET }}" data-type="{{ menu.TYPE }}" data-desc="{{ menu.DESCRIPTION }}" data-main-course="{{ menu.MAIN_COURSE.NAME }}" data-beverage="{{ menu.BEVERAGE.NAME }}" class="py-2 px-6 flex items-center justify-center text-sm font-medium text-center text-white hover:text-green-500 focus:outline-none bg-green-500 rounded-lg border border-green-500 hover:bg-transparent dark:bg-green-500 dark:text-white dark:border-green-500 dark:hover:text-green-500 dark:hover:bg-transparent">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 -ml-0.5" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                                            <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                                        </svg>
                                        Preview
                                    </button>
                                </div>
                            </td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- View Order Details modal -->
<div id="viewOrderModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-xl max-h-full">
        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
            <button type="button" class="text-gray-400 mb-1.5 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 inline-flex dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="viewOrderModal">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div id="qr" class="hidden p-4 mb-4 text-sm text-center text-white rounded-lg bg-green-400 dark:bg-green-500 dark:text-white" role="alert">
                Display your QR Code below to redeem your food order today
            </div>
            {% if data %}
            <div id="qrcode" class="hidden generated flex items-center justify-center">
                <img src="{{data}}" alt="" class="w-48 h-48">
            </div>
            {% endif %}
            <form
            method="GET"
            action=""
            class="space-y-4 md:space-y-6"
            >
            {{ orderform.hidden_tag() }}
            <fieldset class="form-group">
                <div class="mb-4">
                    {{ orderform.day.label(class="block mb-2 text-md font-medium
                    text-gray-900 dark:text-white") }}
                    {{ orderform.day(class="bg-gray-50 border
                    border-gray-300 text-gray-900 sm:text-sm rounded-lg
                    focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5
                    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                    dark:text-white dark:focus:ring-blue-500
                    dark:focus:border-blue-500", readonly="readonly") }}
                </div>
                <div class="mb-4">
                    {{ orderform.redemption.label(class="block mb-2 text-md font-medium
                    text-gray-900 dark:text-white") }}
                    {{ orderform.redemption(class="bg-gray-50 border
                    border-gray-300 text-gray-900 sm:text-sm rounded-lg
                    focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5
                    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                    dark:text-white dark:focus:ring-blue-500
                    dark:focus:border-blue-500", readonly="readonly") }}
                </div>
                <div class="mb-4">
                    {{ orderform.set.label(class="block mb-2 text-md font-medium
                    text-gray-900 dark:text-white") }}
                    {{ orderform.set(class="bg-gray-50 border border-gray-300
                    text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600
                    focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                    dark:focus:ring-blue-500 dark:focus:border-blue-500", readonly="readonly") }}
                </div>
                <div class="mb-4">
                    {{ orderform.type.label(class="block mb-2 text-md font-medium
                    text-gray-900 dark:text-white") }}
                    {{ orderform.type(class="bg-gray-50 border border-gray-300
                    text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600
                    focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                    dark:focus:ring-blue-500 dark:focus:border-blue-500", readonly="readonly") }}
                </div>
                <div class="mb-4">
                    {{ orderform.description.label(class="block mb-2 text-md font-medium
                    text-gray-900 dark:text-white") }}
                    {{ orderform.description(class="bg-gray-50 border border-gray-300
                    text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600
                    focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                    dark:focus:ring-blue-500 dark:focus:border-blue-500", readonly="readonly") }}
                </div>
                <div class="mb-4">
                    {{ orderform.main_course.label(class="block mb-2 text-md font-medium
                    text-gray-900 dark:text-white") }}
                    {{ orderform.main_course(class="bg-gray-50 border border-gray-300
                    text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600
                    focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                    dark:focus:ring-blue-500 dark:focus:border-blue-500", readonly="readonly") }}
                </div>
                <div class="mb-4">
                    {{ orderform.beverage.label(class="block mb-2 text-md font-medium
                    text-gray-900 dark:text-white") }}
                    {{ orderform.beverage(class="bg-gray-50 border border-gray-300
                    text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600
                    focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700
                    dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                    dark:focus:ring-blue-500 dark:focus:border-blue-500", readonly="readonly") }}
                </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const orderCheckboxes = document.querySelectorAll('#filterOrder input[type="checkbox"]');
        const previewButton = document.querySelectorAll('[data-modal-toggle="viewOrderModal"]');
        const ordertable = document.getElementById("orderTable");
        const orderrows = ordertable.getElementsByTagName("tr");
        const orderSearch = document.getElementById("order-search");
        searchListener(orderSearch, orderrows, 7);
        handleFilterDate(orderCheckboxes, orderrows, 1);

        previewButton.forEach(button => {
            button.addEventListener("click", () => {
                const day = button.getAttribute("data-day");
                const redemption = button.getAttribute("data-redemption");
                const set = button.getAttribute("data-set");
                const type = button.getAttribute("data-type");
                const desc = button.getAttribute("data-desc");
                const maincourse = button.getAttribute("data-main-course");
                const beverage = button.getAttribute("data-beverage");
                const today = new Date().toLocaleDateString('en-GB', { weekday: 'long' });

                var readModal = document.getElementById("viewOrderModal");
                readModal.querySelector('#day').value = day;
                readModal.querySelector('#redemption').value = redemption;
                readModal.querySelector('#set').value = set;
                readModal.querySelector('#type').value = type;
                readModal.querySelector('#description').value = desc;        
                readModal.querySelector('#main_course').value = maincourse;        
                readModal.querySelector('#beverage').value = beverage;

                if (today == day) {
                    readModal.querySelector('#qr').classList.remove('hidden');
                    readModal.querySelector('#qrcode').classList.remove('hidden');
                } else {
                    readModal.querySelector('#qr').classList.add('hidden');
                    readModal.querySelector('#qrcode').classList.add('hidden');
                }
            });
        });
    });
</script>

{% endblock content %}