{% extends 'base.html' %}
{% block content %}
{% include '_messages.html' %}


<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto bg-gray-800 text-white">
    <h1 class="text-white">Add Menu</h1>
</div>

<div class="container mx-auto mt-8">
    <div class="flex justify-center">
        <div class="w-1/4 bg-white rounded-md shadow-md p-8 border border-gray-800">
            {% from "_formhelpers.html" import render_field %}
            <form class="space-y-2 md:space-y-2" method="POST" enctype="multipart/form-data">
                {{ render_field(form.name, class="w-full form-control bg-gray-50 rounded-md border border-gray-100",
                placeholder="Add menu name") }}
                <br>
                {{ render_field(form.price, class="w-full form-control bg-gray-50 rounded-md border border-gray-100",
                placeholder="Add menu price") }}
                <br>
                {{ render_field(form.type, class="w-full form-control bg-gray-50 rounded-md border border-gray-100",
                placeholder="Add menu type") }}
                <br>
                {{ render_field(form.desc, class="w-full form-control bg-gray-50 rounded-md border border-gray-100",
                placeholder="Add menu details", rows="10") }}
                <br>
                {{ render_field(form.picture, class="w-full form-control bg-gray-50 rounded-md border border-gray-100",
                placeholder="Add menu image") }}

                <div class="mt-4 bg-blue-500">
                    <input type="submit" value="Add menu" class="btn-outline-info">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}