{% extends "base.html" %}
{% block title %}QR Code Scanner{% endblock title %}
{% block content %}

<h1 class="text-xl font-bold dark:text-white text-center pt-14 pb-8">QR Code Scanner</h1>
<div class="flex items-center justify-center flex-col">
    <video id="videoCam" autoplay class="w-full max-w-lg mb-10"></video>
    <div class="flex items-center justify-center w-4/12">
        <a href="{{ url_for('worker.worker_dashboard') }}" class="w-full cursor-pointer text-white bg-blue-600
        hover:bg-transparent hover:text-blue-600 focus:ring-4 focus:outline-none
        focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5
        text-center hover:cursor border border-blue-600 dark:bg-blue-600 dark:hover:bg-transparent dark:hover:text-blue-600">Back</a>
    </div>
</div>
<br>

<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let scanner = new Instascan.Scanner({ video: document.getElementById('videoCam') });
        let scannedCodes = [];

        Instascan.Camera.getCameras()
            .then(function (cameras) {
                if (cameras.length > 0) {
                    scanner.start(cameras[0]);
                } else {
                    console.error('No cameras found.');
                }
            })
            .catch(function (e) {
                console.error(e);
            });

        scanner.addListener('scan', function (content) {
            if (scannedCodes.includes(content)) {
                alert('QR Code already scanned before.');
            }
            else {
                alert('QR Code scanned successfully. ' + content);
                scannedCodes.push(content);

                var orderID = content.split(',')[0];
                //alert('Scanned Qrder ID' + orderID);
                fetch('/update_redemption', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ order_id: orderID }),
                })
                    .then(response => response.json())
                    .then(data => {
                        alert(JSON.stringify(data)); 
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            }
        });

    });
</script>
{% endblock content %}