{% extends "base.html" %} {% block title %}Admin Signup{% endblock %} {% block content
%}
<form method="POST">
  <h3 align="center">Admin Sign Up</h3>
  <div class="form-group">
    <label for="username">Username</label>
    <input
      type="text"
      class="form-control"
      id="username"
      name="username"
      placeholder="Enter username"
    />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Enter name"
    />
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input
      type="password"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
  </div>
  <div class="form-group">
    <label for="password2">Confirm Password</label>
    <input
      type="password"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Confirm password"
    />
  </div>
  <br/>
  <div class="text-center">
    <button type="submit" class="btn btn-primary">Sign Up</button>
    <br/>
    <br/>
    <p>Already Registered? <a href="/admin_login">Login here</a></p>
  </div>
</form>
{% endblock %}
