<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/styles.css">
  </head>
  <body>
    <section class="bg-gray-900">
      <nav class="bg-gray-50 border-gray-200 dark:bg-gray-800 dark:border-gray-700">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a href="{{ url_for('home') }}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="/static/images/logo.png" class="h-8" alt="LunchMate" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">LunchMate</span>
        </a>
        
        <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            {% if current_user.is_authenticated %}
              <button type="button" class="text-white mr-2 hover:bg-slate-500 rounded-lg text-sm px-3 py-2 text-center">
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M15.133 10.632v-1.8a5.407 5.407 0 0 0-4.154-5.262.955.955 0 0 0 .021-.106V1.1a1 1 0 0 0-2 0v2.364a.944.944 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C4.867 13.018 3 13.614 3 14.807 3 15.4 3 16 3.538 16h12.924C17 16 17 15.4 17 14.807c0-1.193-1.867-1.789-1.867-4.175Zm-13.267-.8a1 1 0 0 1-1-1 9.424 9.424 0 0 1 2.517-6.39A1.001 1.001 0 1 1 4.854 3.8a7.431 7.431 0 0 0-1.988 5.037 1 1 0 0 1-1 .995Zm16.268 0a1 1 0 0 1-1-1A7.431 7.431 0 0 0 15.146 3.8a1 1 0 0 1 1.471-1.354 9.425 9.425 0 0 1 2.517 6.391 1 1 0 0 1-1 .995ZM6.823 17a3.453 3.453 0 0 0 6.354 0H6.823Z"/>
                </svg>
              </button>
              <a href="{{ url_for('logout') }}">
                <button type="button" class="text-white font-medium bg-blue-700 hover:border-blue-700 hover:bg-slate-100 hover:text-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-sm px-4 py-3 text-center dark:bg-blue-600">Logout</button>
              </a>
            {% else %}
              <a href="{{ url_for('login') }}">
                <button type="button" class="text-white font-medium bg-blue-700 hover:border-blue-700 hover:bg-slate-100 hover:text-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-sm px-4 py-3 text-center dark:bg-blue-600">Login Now</button>
              </a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <button id="navbar-toggle" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-cta" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
              </svg>
            </button>
            {% endif %}
        </div>
        {% if current_user.is_authenticated %}
        <div id="mobile-navbar" class="items-center hidden w-full md:flex md:w-auto md:-ml-16">
          <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-4 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white md:dark:bg-gray-800 dark:border-gray-700">
            {% if current_user.ROLE == 'parent' %}
            <li>
              <a href="{{ url_for('parent_dashboard') }}" class="block py-2 px-3 md:py-2 sm:my-1 md:px-4 text-center text-blue-600 md:text-white lg:text-white rounded bg-blue-600 md:bg-transparent lg:bg-transparent hover:bg-gray-700 md:hover:bg-blue-600 md:hover:text-white dark:text-white">Dashboard</a>
            </li>
            <li>
              <a href="{{ url_for('parent_menu') }}" class="block py-2 px-3 md:py-2 sm:my-1 md:px-4 text-center text-blue-600 md:text-white lg:text-white rounded bg-blue-600 md:bg-transparent lg:bg-transparent hover:bg-gray-700 md:hover:bg-blue-600 md:hover:text-white dark:text-white">Food Menu</a>
            </li>
            <li>
              <a href="{{ url_for('parent_cart') }}" class="block py-2 px-3 md:py-2 sm:my-1 md:px-4 text-center text-blue-600 md:text-white lg:text-white rounded bg-blue-600 md:bg-transparent lg:bg-transparent hover:bg-gray-700 md:hover:bg-blue-600 md:hover:text-white dark:text-white">Cart</a>
            </li>
            <li>
              <a href="{{ url_for('parent_reload') }}" class="block py-2 px-3 md:py-2 sm:my-1 md:px-4 text-center text-blue-600 md:text-white lg:text-white rounded bg-blue-600 md:bg-transparent lg:bg-transparent hover:bg-gray-700 md:hover:bg-blue-600 md:hover:text-white dark:text-white">Reload</a>
            </li>
            {% elif current_user.ROLE == 'student' %}
            <li>
              <a href="{{ url_for('student_dashboard') }}" class="block py-2 px-3 md:py-2 sm:my-1 md:px-4 text-center text-blue-600 md:text-white lg:text-white rounded bg-blue-600 md:bg-transparent lg:bg-transparent hover:bg-gray-700 md:hover:bg-blue-600 md:hover:text-white dark:text-white">Dashboard</a>
            </li>
            {% elif current_user.ROLE == 'worker' %}
            <li>
              <a href="{{ url_for('worker_dashboard') }}" class="block py-2 px-3 md:py-2 sm:my-1 md:px-4 text-center text-blue-600 md:text-white lg:text-white rounded bg-blue-600 md:bg-transparent lg:bg-transparent hover:bg-gray-700 md:hover:bg-blue-600 md:hover:text-white dark:text-white">Dashboard</a>
            </li>
            {% elif current_user.ROLE == 'admin' %}
            <li>
              <a href="{{ url_for('admin_dashboard') }}" class="block py-2 px-3 md:py-2 sm:my-1 md:px-4 text-center text-blue-600 md:text-white lg:text-white rounded bg-blue-600 md:bg-transparent lg:bg-transparent hover:bg-gray-700 md:hover:bg-blue-600 md:hover:text-white dark:text-white">Dashboard</a>
            </li>
            {% endif %}
            <li>
              <a href="{{ url_for('profile') }}" class="block py-2 px-3 md:px-4 sm:my-1 text-center text-blue-600 md:text-white lg:text-white rounded bg-blue-600 md:bg-transparent lg:bg-transparent hover:bg-gray-700 md:hover:bg-blue-600 md:hover:text-white dark:text-white">Profile</a>
            </li>
          </ul>
        </div>
        {% endif %}
        </div>
      </nav>

      {% with messages = get_flashed_messages(with_categories=true) %} 
        {% if messages %} 
          {% for category, message in messages %}
          <div class="flex flex-col items-center mt-8 justify-center px-6 mx-auto -mb-8">
            {% if category == 'error' or category == 'danger' %}
              <div class="flex items-center p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div>
                  {{ message }}
                </div>
              </div>
            {% else %}
              <div class="flex w-200 items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
                </svg>
                <span class="sr-only">Info</span>
                <div>
                  {{ message }}
                </div>
              </div>
            {% endif %}
          </div>
          {% endfor %} 
        {% endif %} 
      {% endwith %} 
      {% block content %}{% endblock %}
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
