<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <ol>
      <li>
        <a href="/parent_login" id="login">Parent Login</a>
      </li>
      <li>
        <a href="/worker_login" id="login">Canteen Worker Login</a>
      </li>
      <li>
        <a href="/student_login" id="login">Student Login</a>
      </li>
      <li>
        <a href="/admin_login" id="login">Admin Login</a>
      </li>
    </ol>
  </body>
</html>
