{% extends "base.html" %}
{% block title %}Register{% endblock title %}
{% block content %}
<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
    <a href="{{ url_for('home') }}" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
        <img class="w-8 h-8 mr-2" src="/static/images/logo.png" alt="logo">
        LunchMate    
    </a>
    <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                Create an account
            </h1>
            <form method="POST" action="" class="space-y-4 md:space-y-2">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <div class="mb-4">
                        {{ form.role.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        {% if form.role.errors %}
                            {{ form.role(class="bg-gray-50 border-2 border-red-600 text-red-600 sm:text-sm rounded-lg focus:ring-red-900 focus:border-red-600 block w-full p-2.5") }}
                            <div class="text-red-600 mt-2">
                                {% for error in form.role.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.role(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {{ form.username.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        {% if form.username.errors %}
                            {{ form.username(class="bg-gray-50 border-2 border-red-600 text-red-600 sm:text-sm rounded-lg focus:ring-red-900 focus:border-red-600 block w-full p-2.5") }}
                            <div class="text-red-600 mt-2">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {{ form.email.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        
                        {% if form.email.errors %}
                            {{ form.email(class="bg-gray-50 border-2 border-red-600 text-red-600 sm:text-sm rounded-lg focus:ring-red-900 focus:border-red-600 block w-full p-2.5") }}
                            <div class="text-red-600 mt-2">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {{ form.firstname.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        
                        {% if form.firstname.errors %}
                            {{ form.firstname(class="bg-gray-50 border-2 border-red-600 text-red-600 sm:text-sm rounded-lg focus:ring-red-900 focus:border-red-600 block w-full p-2.5") }}
                            <div class="text-red-600 mt-2">
                                {% for error in form.firstname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.firstname(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {{ form.lastname.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        
                        {% if form.lastname.errors %}
                            {{ form.lastname(class="bg-gray-50 border-2 border-red-600 text-red-600 sm:text-sm rounded-lg focus:ring-red-900 focus:border-red-600 block w-full p-2.5") }}
                            <div class="text-red-600 mt-2">
                                {% for error in form.lastname.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lastname(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {{ form.phone.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        
                        {% if form.phone.errors %}
                            {{ form.phone(class="bg-gray-50 border-2 border-red-600 text-red-600 sm:text-sm rounded-lg focus:ring-red-900 focus:border-red-600 block w-full p-2.5") }}
                            <div class="text-red-600 mt-2">
                                {% for error in form.phone.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.phone(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {{ form.status.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        
                        {% if form.status.errors %}
                            {{ form.status(class="bg-gray-50 border-2 border-red-600 text-red-600 sm:text-sm rounded-lg focus:ring-red-900 focus:border-red-600 block w-full p-2.5") }}
                            <div class="text-red-600 mt-2">
                                {% for error in form.status.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.status(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {{ form.parent1_id.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        
                        {% if form.parent1_id.errors %}
                            {{ form.parent1_id(class="bg-gray-50 border-2 border-red-600 text-red-600 sm:text-sm rounded-lg focus:ring-red-900 focus:border-red-600 block w-full p-2.5") }}
                            <div class="text-red-600 mt-2">
                                {% for error in form.parent1_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.parent1_id(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {{ form.parent2_id.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        
                        {% if form.parent2_id.errors %}
                            {{ form.parent2_id(class="bg-gray-50 border-2 border-red-600 text-red-600 sm:text-sm rounded-lg focus:ring-red-900 focus:border-red-600 block w-full p-2.5") }}
                            <div class="text-red-600 mt-2">
                                {% for error in form.parent2_id.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.parent2_id(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {{ form.password.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        
                        {% if form.password.errors %}
                            {{ form.password(class="bg-gray-50 border-2 border-red-600 text-red-600 sm:text-sm rounded-lg focus:ring-red-900 focus:border-red-600 block w-full p-2.5") }}
                            <div class="text-red-600 mt-2">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        {{ form.confirm_password.label(class="block mb-2 text-sm font-medium text-gray-900 dark:text-white") }}
                        
                        {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="bg-gray-50 border-2 border-red-600 text-red-600 sm:text-sm rounded-lg focus:ring-red-900 focus:border-red-600 block w-full p-2.5") }}
                            <div class="text-red-600 mt-2">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="w-full text-white bg-primary-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center hover:cursor dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800") }}
                </div>
            </form>
            <div class="border-top pt-3">
                <p class="text-sm font-light text-gray-400">
                    Already Have An Account? <a class="ml-2 text-blue-500 font-bold hover:underline" href="{{ url_for('login') }}">Login Here</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}